MYSQL_ROOT_PASSWORD=replace_me
MYSQL_DATABASE=customer360
MYSQL_APP_USER=customer_app
MYSQL_APP_PASSWORD=replace_me
MYSQL_STARBURST_USER=starburst_ro
MYSQL_STARBURST_PASSWORD=replace_me
MYSQL_PORT=3306
